<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Gestió d'agència{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css"/>
            <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

            <!--estilo css-->
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
            <link href="{{asset('backend/css/estil.css') }}" rel="stylesheet">
            <link href="{{asset('backend/css/estilo-responsive.css') }}" rel="stylesheet">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('icon.png') }}" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <section id="container" >
            {% block menu %}
                <!-- Top bar-->
                <header class="header bg-topbar">
                    <div class="sidebar-btn">
                        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="menu"></div>
                    </div>
                    <!--logo-->
                    <a class="navbar-brand" href="#"><img src="{{ asset('public/image/logo_white.png') }}" class="img-logo"/></a>
                    <!-- usuari -->
                    <div class="nav notify-row" id="top_menu">  
                        <a class="btn btn-sm btn-warning ml" href="{{asset('/agencia')}}" target="_blank"><span class="fa fa-eye"></span>   ver pàgina</a>
                    </div>
                    <!-- Boto logout -->
                    <div class="top-menu">
                        <ul class="nav pull-right top-menu">
                            <li><a class="logout" href="{{asset('/backend/logout')}}">Logout</a></li>
                        </ul>
                    </div>
                </header>
                <aside>
                    <div id="sidebar"  class="nav-collapse ">
                        <!-- sidebar menu-->
                        <ul class="sidebar-menu" id="nav-accordion">

                            <p class="centered"><a href="#"><img src="{{asset('public/image/user-profile.png') }}" class="img-circle" width="60"></a></p>
                            <h5 class="centered">{{app.user.username | title}}</h5>

                            <li class="mt">
                                <a href="{{ path('backend_homepage') }}">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Inici</span>
                                </a>
                            </li>
                            <li class="sub-menu">
                                <a href="{{ path('backend_obres') }}"  {% if app.request.get('_route') == 'backend_obras' %} class="active" {% endif %} >
                                    <i class="fa fa-book"></i>
                                    <span>Obres</span>
                                </a>                           
                            </li>
                            <li class="sub-menu">
                                <a href="{{ path('backend_directors') }} " {% if app.request.get('_route') == 'backend_directores' %} class="active" {% endif %} >
                                    <i class="fa fa-slideshare"></i>
                                    <span>Directors</span>
                                </a>                            
                            </li>
                            <li class="sub-menu">
                                <a href="{{ path('backend_actors') }}"  {% if app.request.get('_route') == 'backend_actors' %} class="active" {% endif %} >
                                    <i class="fa fa-users"></i>
                                    <span>Actors</span>
                                </a>                            
                            </li>                        
                        </ul>
                        <!-- /sidebar menu-->
                    </div>
                </aside>
            {% endblock %}
            <!-- Contenido-->
            <section id="main-content">
                <section class="wrapper">
                    {% block content %}                       
                        <div class="row">
                            <div class="col-lg-9 col-lg-push-1 main-chart">
                                <h4>Estadistiques de l'agència:</h4>
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                                        <div class="box1">
                                            <h5>Obres</h5>
                                            <span class="fa fa-book"></span>
                                            <h3>{{numobres}}</h3>
                                        </div>
                                        <p>El número total d'obres representades són {{numobres}}</p>
                                    </div>
                                    <div class="col-md-2 col-sm-2 box0">
                                        <div class="box1">
                                            <h5>Actors</h5>
                                            <span class="fa fa-users"></span>
                                            <h3>{{numActors}}</h3>
                                        </div>
                                        <p>L'agència compta amb un total de {{numActors}} actors. </p>
                                    </div>                                    
                                    <div class="col-md-2 col-sm-2 box0">
                                        <div class="box1">
                                            <h5>Directors</h5>
                                            <span class="fa fa-slideshare"></span>
                                            <h3>{{numDirectors}}</h3>
                                        </div>
                                        <p>Actualment existeixen {{numDirectors}} directors en aquesta agència </p>
                                    </div>
                                    <div class="col-md-2 col-sm-2 box0">
                                        <div class="box1">
                                            <h5>Servidor</h5>
                                            <span class="fa fa-database"></span>
                                            <h3>{{statusserver}}</h3>
                                        </div>
                                        <p>HTTP Status ok!</p>
                                    </div>
                                        
                                </div><!-- /row mt -->	                               
                            </div>                          
                            <div class="col-lg-3 ds mt">
                                <!--Informació d'usuari-->
                                <h3>Informació d'usuari connectat</h3>
                                <div class="desc">
                                    <div class="col-lg-12">                                     
                                        <div class="col-lg-6">
                                            <p><strong>Nom:</strong>  {{app.user.username | title}}</p>
{#                                            <h4>Rol:  {{ app.user.roles }}</h4>#}
                                        </div>                                        
                                    </div>
                                </div>
                            </div><!-- /col-lg-3 informacio d'usuari connectat-->
                        </div><!--/row -->                
                    {% endblock %}
                </section>
                <!--fin contenido-->
            {% block footer %}
                <!--footer-->
                <footer class="footer mt">
                    <div class="text-center">
                        2017 - Agència d'actors
                        <a href="#" class="go-top">
                            <i class="fa fa-angle-up"></i>
                        </a>
                    </div>
                </footer>
            {% endblock %}
            </section>                        
        </section>
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
            <script class="include" type="text/javascript" src="{{asset('backend/js/jquery.dcjqaccordion.2.7.js')}}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="{{asset('backend/js/jquery.scrollTo.min.js') }}"></script>
            <script src="{{asset('backend/js/common-scripts.js') }}"></script>             
            <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js" ></script>

            <script type="text/javascript">
                jQuery(document).ready(function () {
                    $('.js-datepicker').datepicker({
                        format: 'dd/mm/yyyy'                  
                    });                   
                });
            </script>
    {% endblock %} <!-- fin block javascript-->
</body>
</html>
