{% extends "BackendBundle:Default:base.html.twig" %}
{% block title %}Detalls Obras{% endblock %}
{% block content %}
    <div class="col-lg-10 col-lg-push-1">            
        <div class="content-backend">
            <div class="text-center">
                <h1>Obra</h1>
            </div>            
            {% for obra in array %}

                <div class="row">
                    <div class="col-md-6 col-sm-2 col-md-offset-3 box0">
                        <h5>Titol:</h5>
                        <p>{{obra.nom}}</p>
                        <hr>
                        <h5>Descripció:</h5>
                        <p> {{obra.descripcio}}</p>
                        <hr>
                        <h5>Tipo de obra:</h5>
                        <p>{{obra.descripcio}}</p>
                        <hr>
                        <h5>Director que dirigeix l'obra:</h5>
                        <p>{{obra.director.nom}} {{obra.director.cognom1}}</p>
                        <hr>
                        <h5>Actors que participen en aquesta obra:</h5>
                            {% for obraact in obra.actores %}                                
                                 <p>{{obraact.nom}} {{obraact.cognom1}}</p>
                            {% endfor %}
                        <hr>
                        <h5>Es representara durant aquestes dates:</h5>
                        <p><strong>Data Inici:</strong> {{obra.datainici |date('d/m/Y')}}</p>
                        <p><strong>Data Fi:</strong> {{obra.datafi |date('d/m/Y')}}</p>
                    </div>                                   
                </div>
            {% endfor %}

        </div>        
    {% endblock %}