{% extends "FrontendBundle:Default:base.html.twig" %}
{% block title %}Inici{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-lg-12">
            <ul class="container-caixas">
                <li>
                    <div class="caixa-element caixa-img-1">
                        <div class="caixa-contingut">
                            <h3>Obres</h3>
                            <p><a href="{{path('frontend_mostrar_obres')}}">Veure obres</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="caixa-element caixa-img-2">
                        <div class="caixa-contingut">
                            <h3>Actors</h3>
                            <p> <a href="{{path('frontend_mostrar_actors')}}">Veure Actors</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="caixa-element caixa-img-3">
                        <div class="caixa-contingut">
                            <h3>Directors</h3>
                            <p> <a href="{{path('frontend_mostrar_directors')}}">Veure Directors</a></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block tipusObra %}
    {% for tipus in tipusObra %}
        <ul>
            <li name="idobra" hidden>{{ tipus.id}}</li>                                
            <li><a href="{{path('frontend_mostrar_tipoobra', { 'id': tipus.id })}}">{{ tipus.Descripcio}}</a></li>                                
        </ul>
    {% endfor %}
{% endblock %}