{% extends "FrontendBundle:Default:base.html.twig" %}
{% block title %}Directors{% endblock %}
{% block head %} 
    <header class="container-header mt">
        <div class="container">
            <h1>Directors</h1>
        </div>                
    </header>
{% endblock %}
{% block content %}
    <div class="container">              
        <div class="row col-lg-12 col-lg-push-1 ">
            {% for directors in array %}	
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="thumbnail col-lg-11 col-lg-pull-1 mt text-center">
                        <h5><strong>Director:</strong></h5>
                        <p>{{directors.nom}} {{directors.cognom1}} {{directors.cognom2}}</p>                                                
                        {% for obra in obres %}                            
                            {% if obra.director.nom == directors.nom %}  
                                <h6><strong>Obra que dirigeix actualment:</strong></h6>
                                <p>{{obra.nom}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div> 
    </div>
{% endblock %}

{% block tipusObra %}
    {% for tipus in tipusObra %}
        <ul>
            <li name="idobra" hidden>{{ tipus.id}}</li>                                
            <li><a href="{{path('frontend_mostrar_tipoobra', { 'id': tipus.id })}}">{{ tipus.Descripcio}}</a></li>                                
        </ul>
    {% endfor %}
{% endblock %}